<!DOCTYPE html>
<html>
<head>
  <title><img src="repository1.altervista.org/jpg"/></title>
  <meta charset="utf-8"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
  <header class="container">
    <div class="row">  
    
      <h1 class="col-sm-4">PHAIDRA projects exstract</h1>
   
      <nav class="col-sm-8 text-right">
        
        <p>Per altri lavori:https://bitbucket.org/fede75/</p>
        <p>www.phaidracab.unipd.it</p>
        <p></p>
      </nav>
    </div>
  </header>
  <section class="jumbtron">
    <div class="continer">
      <div class="row text-center">
        <h2></h2>
        <h3></h3>
        <a class="btn btn-primary" href="#" role="button"></a>
      </div>
    </div>
  </section>
  <section class="container">
    <div class="row">
      <figure class="col-sm-6">
        <p>Angular project. Schede multiple(thumbnail+DC).Inserire codice (es.61439) </p>
        <html>
<head>
<script src="http://code.jquery.com/jquery.min.js"></script>
<link href="http://getbootstrap.com/dist/css/bootstrap.css" rel="stylesheet" type="text/css" />
<script src="http://getbootstrap.com/dist/js/bootstrap.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
<script src="app2.js"></script>
  <meta charset="utf-8">
  <title></title>
</head>
<body ng-app="objectListApp" ng-controller="objectsController">
  
    <div class="panel panel-default" ng-show="currentobject">
  <div class="panel-heading">
    <strong>{{currentobject.name}}</strong>
    <button type="button" class="close" aria-hidden="true" ng-click="showobject(null)">&times;</button>
  </div>
  <div class="panel-body">
     <br /> 
  </div>
</div>
 
<input type="text" ng-model="inputOggetto"></input><button ng-click="loadImage()">Carica</button> 

<img ng-show="objectID!==''" src="https://fc.cab.unipd.it/fedora/objects/o:{{objectID}}/methods/bdef:Asset/getThumbnail"></img>




<table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="object in objects">
          <td>{{$index + 1}}</td>
          <td>
            <a href="" ng-click="showobject(object.metadata)">
              {{object.xmlname}}
            </a>
          </td>
          <td>{{object.ui_value}}</td>
          <td>{{object.email}}</td>
        </tr>
      </tbody>
    </table>

   
        
</figure>
    	<figure class="col-sm-6">
        <p>jQUERY project.Controlla membri di collezione. Inserire codice (es.16503)</p>
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<ul onmouseover="if(getElementById('login')){add_class('login','transparent')}; if(getElementById('lang')){add_class('lang','transparent')}; if(getElementById('search-detail')){add_class('search-detail','transparent')};">
</head>

o:<input type='text' name='codice' id='codice'/><br />

<button  onClick='mostra()' > 
		
		</button><br />










<script type="text/javascript">


function mostra() {
	var testo= $('#codice').val();
	console.log(testo);
	$(document).ready(function(){
	  var url = "https://phaidradev.cab.unipd.it/api/collection/o:"+testo+"/members";
	  $.getJSON(url, function(response){
		console.log(response.metadata.members);
		$.each(response.metadata.members, function(a,campo){
		  console.log(campo);
		  var myId = campo.pid.substring(2);
		  $(".members").append('<div><img src="https://fc.cab.unipd.it/fedora/objects/o:'+myId+'/methods/bdef:Asset/getThumbnail"></img></div><div id='+myId+' ></div><hr>');
		  var myPid=campo.pid;
		  $.getJSON("https://phaidradev.cab.unipd.it/api/object/"+myPid+"/dc", function(res2){
			var testo='';
			$.each(res2.metadata.dc, function(a,field){
				testo+=field.xmlname + ": " + field.ui_value + "<br />";
			});
			$("#"+myId).html(testo);
              


			  });

		});
	  });
	});
}







</script>

<body>
<div class="members"></div>
<br />
      </figure>
     
   </div>
    <div class="row">
      <figure class="col-sm-6">
        <p></p>
        <p>/>
      </figure>
      <figure class="col-sm-6">
        <p></p>
       <p></p>
      </figure>
    </div>
  </section>
  <footer class="container">
    <div class="row">
      <p class="col-sm-4">&copy; Rev.03.2017.</p>
      <ul class="col-sm-8">
        <li class="col-sm-1">
          
        </li>
        <li class="col-sm-1">
          
        </li>
        <li class="col-sm-1">
          
        </li>
        <li class="col-sm-1">
          
        </li>
      </ul>
    </div>
  </footer>
 </body>
</html>